---
---

@charset "UTF-8";

// Color
@import "color-variables";
@import "color-classes";

// Variables;
@import "variables";

// Reset
@import "normalize";

// components
@import "global";
@import "badges";
@import "icons-material-design";
@import "grid";
@import "navbar";
@import "typography";
@import "transitions";
@import "cards";
@import "toast";
@import "tabs";
@import "tooltip";
@import "buttons";
@import "dropdown";
@import "waves";
@import "modal";
@import "collapsible";
@import "chips";
@import "materialbox";
@import "forms/forms";
@import "table_of_contents";
@import "sidenav";
@import "preloader";
@import "slider";
@import "carousel";
@import "tapTarget";
@import "pulse";
@import "datepicker";
@import "timepicker";

.background {
    background-position: top center;
    background-repeat: no-repeat;
}

.parallax-container {
    height: 200px;
}

.container {
    color: #eee;
}

#twitch-embed {
    display: block;
    height: 500px;
}

.sidenav {
    width: 350px;
    background-color: transparent;
    overflow: hidden;
}

.discord-embed {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}